.fondo{
  background-color: #F4F4EF;
}

.pokemon{
  width: 150px;
  height: 150px;
  margin: 40px auto;
  display: inline-block;
}

#logo{
    padding: 10%;
    height: 64px;
    width:  64px;
}
#lupa{
    padding: 10%;
    height: 32px;
    width:  32px;
}

nav.nav-center ul {
    text-align: center;
}

body {
    background-image: url("./Imagenes/Pokeball01.png");
    background-repeat: no-repeat;
    background-position: 50% 500%;
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 450px;
}