.pokemon{
  width: 150px;
  height: 150px;
  margin: 40px auto;
  display: inline-block;
}

#logo{
    padding: 5%;
    height: 64px;
    width:  64px;
}
#lupa{
    padding: 10%;
    height: 32px;
    width:  32px;
}

nav.nav-center ul {
    text-align: center;
}

body {
    background-image: url("./Imagenes/FondoBall.png");
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: center;
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 1050px;
}

  .colum {
    flex-direction: column;
    margin-right: 10px;
    flex: 1;
  }
  
  .colum div {
    background-color: aqua;
    font-size: 1.4rem;
    padding: 5px 0;
    border: 2px solid green;
  }
  
  .card {
    margin-left: 10px
  }
  
  .image {
    background: grey;
    flex: 1;
  }
  
  .image img {
    display: block;
    padding: 5px;
    height: 64px;
    width:  64px;
  }